<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.senku36.billsplitkaro">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.senku36.billsplitkaro.MainActivity">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="filter_view_example">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"
                    android:host="www.splititeasy.com" />
                <!-- note that the leading "/" is required for pathPrefix-->
            </intent-filter>
        </activity>
        <activity android:name="com.senku36.billsplitkaro.AddEditMemberActivity"/>
        <activity android:name="com.senku36.billsplitkaro.AddEditBillActivity"/>
        <activity android:name="com.senku36.billsplitkaro.HandleOnGroupClickActivity" />
        <activity android:name="com.senku36.billsplitkaro.GroupListActivity" />
        <activity android:name="com.senku36.billsplitkaro.CreateNewGroupActivity" />
    </application>

</manifest>